
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/header::header">

</div>

<body class="animsition">
<div class="page-wrapper">


    <!-- MENU SIDEBAR-->
    <div th:replace="common/menusidebar::menusidebar"></div>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <div th:replace="common/menuheader:: menuheader">

        </div>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="container">

                        <h3>Player Directory</h3>
                        <hr>

                        <p class="h4 mb-4">Save Player Info</p>
<!--                        <div th:if="${errorMessage}">-->
<!--                            <div th:text="${errorMessage}"></div>-->
<!--                        </div>-->

                        <form action="#" th:action="@{/players/save}"
                              th:object="${player}" method="POST">

                            <!-- Add hidden form field to handle update -->
                            <input type="hidden" th:field="*{id}" />
                            <div class="form-group mb-4 col-4">
                                <input type="text" th:field="*{name}" class="form-control" id="name"
                                    placeholder="name"> <span
                                    th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                    class="text-danger"></span>
                            </div>
<!--                            <div class="form-group mb-4 col-4">-->
<!--                                <input type="date" th:field="*{DOB}" class="form-control" id="DOB"-->
<!--                                       placeholder="Date of Birth"> <span-->
<!--                                    th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}"-->
<!--                                    class="text-danger"></span>-->
<!--                            </div>-->
                            <div class="form-group mb-4 col-4">
                                <input type="text" th:field="*{age}" class="form-control" id="age"
                                       placeholder="Age"> <span
                                    th:if="${#fields.hasErrors('Age')}" th:errors="*{age}"
                                    class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4 col-4">
                                <input type="text" th:field="*{role}" class="form-control" id="role"
                                       placeholder="role"> <span
                                    th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                    class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4 col-4">
                                <select type="text" th:field ="*{country}"  class="form-control">
                                    <option value="">Country</option>
                                    <option th:each="country: ${countries}"
                                            th:value="${country.id}"
                                            th:text="${country.name}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-info col-2">Save</button>

                        </form>

                        <hr>
                        <a th:href="@{/players/}">Back to player List</a>

                    </div>

                    <div th:replace="common/copywrite::copywite"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="common/footer:: footer">

</div>

</body>

</html>
<!-- end document-->
